{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block content %}
<section class=" bg-image py-5 mb-5"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5 shadow">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="{% url 'registration' %}" method="post" novalidate>
                {% csrf_token %}
                {% if messages %}
                {% for msg in messages %}
                  <div class="alert alert-{{msg.tags}}" role="alert">
                    {{msg}}
                  </div> 
                {% endfor %}
                {% endif %}

                {% for form in form %}
                    {{form.label_tag}} {{form}} <small class="text-danger">{{form.errors|striptags}}</small>
                {% endfor %}

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block btn-lg gradient-custom-4 text-white">Register</button>
                </div>

                <p class="text-center text-muted mt-3 mb-0">Have already an account? <a href="{% url 'login' %}"class="fw-bold text-primary"><u>Login here</u></a></p>

                
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                  {% endfor %}
                {% endif %}
                
                  
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}