{% extends 'base.html' %}
{% load static %}
{% block title %}Password Changed Successfully{% endblock title %}

{% block content %}    
<div class="container">
    <div class="row my-5 pt-5 pt">
        <div class="col-sm-6 offset-sm-3">
            <h3> Reset password</h3>
            <hr>
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for form in form %}
                    {{form.label_tag}} {{form}} <small class="text-danger">{{form.errors|striptags}}</small>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary my-3">Send mail</button>
                
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}
