{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}
    <div class="container pt-5">
        <div class="row py-5 mb-5">
            <h3 class="text-center mt-5">welcome {{request.user}}</h3> 
            <br>
            {% if messages %}
            {% for msg in messages %}
              <div class="alert alert-{{msg.tags}}" role="alert">
                {{user.username}}! {{msg}}
              </div> 
            {% endfor %}
            {% endif %}
            <form class="row w-75 justify-content-center m-auto g-3 needs-validation shadow-sm py-5 px-3" method="Post" action="{% url 'profileUpdate' %}" novalidate>
                {% csrf_token %}
              <div class="col-md-6">
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationCustom01" value="{{user.first_name}}" name="firstName" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div class="col-md-6">
                <label for="validationCustom02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" value="{{user.last_name}}" name="lastName" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div class="col-md-6">
                <label for="validationCustom03" class="form-label">User Name</label>
                <input type="text" class="form-control" id="validationCustom03" value="{{user.username}}" name="UserName" required readonly>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div class="col-md-6">
                <label for="validationCustom04" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="validationCustom04" value="{{user.email}}" name="email" required readonly>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div class="col-md-12">
                <label for="validationCustom05" class="form-label">Password</label>
                <input type="text" class="form-control" id="validationCustom05" placeholder="fill only if you want to change your password!" name="password" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>

              <div class="col-12 mt-5">
                <button class="btn btn-primary" type="submit">Profile Update</button>
              </div>
            </form>
        </div>
    </div>
{% endblock content %}
